#
# Copyright (C) Red Hat, Inc.
# http://redhat.com
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#


#########################################################
# JBoss AMQ CONFIGURATION DETAILS
#########################################################

# Broker XML Configuration Path
config=${karaf.base}/etc/nob-broker.xml

# Broker Configuration Values
broker.name=nob-broker-1
broker.host.name=localhost
broker.username=admin
broker.password=admin
broker.data.dir=${karaf.base}/data/activemq/${broker.name}

# Network Connector Properties
broker.network.connector.1.name=network-broker-2
broker.network.connector.1.uri=static://(nio://${broker.host.name}:62618)
broker.network.connector.2.name=network-broker-3
broker.network.connector.2.uri=static://(nio://${broker.host.name}:63618)

# Transport Connector Properties
broker.transport.client.name=client-tc
broker.transport.client.uri=nio://${broker.host.name}:61080
broker.transport.internal.name=internal-tc
broker.transport.internal.uri=nio://${broker.host.name}:61617
broker.transport.network.name=network-tc
broker.transport.network.uri=nio://${broker.host.name}:61618?keepAlive=true

#########################################################
# Destination Partitions
#########################################################

dest.group.default.queue=com.nob.test.>
dest.group.default.queue.memoryLimit=10mb

#########################################################
# System Usage Settings
#########################################################
memory.usage = 2GB
store.usage = 1GB
temp.usage = 200mb


#########################################################
# REQUIRED: DON"T CHANGE
# Sun Media is not using Fabric at this and is using a 
# stand alone broker configuration.
#########################################################
# Is this Broker part of a Fabric Cluster or Standalone
standalone=true

#########################################################
# REQUIRED BUT SAFE TO IGNORE
# These values are only used when using the Fuse Fabric
# capabilities.  Sun Media is not using Fabric at this
# and is using a stand alone broker configuration.
#########################################################

# Defaults for when joining fabric registry
group=default
connectors=openwire
standby.pool=default


596092

